body{
    padding: 12px;
    margin: 0px;
}
#container{
    width: 100%;
    
   
}
body{
    background-image: url('R.jpeg');
}
#container.h1{
    padding: 0px;
    margin: 0px;

}
.insert{
    visibility: hidden;
}
.delete{
    margin-top: -250px;
    visibility: hidden;
}
nav{
    margin-top: 60px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

table{
    width: 50%;
}

th{
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
}
.del{
    background-color: red;
    border-color: crimson;
    margin: 30px;
    border-radius: 20px;
}
.update{
    background-color: green;
    border-color: rgb(74, 117, 10);
    margin: 10px;
    border-radius: 20px;
}
